<div class="form">
    <h1 class="title">{{ title }}</h1>

    <div class="form-group">
        <label for="" class="form-label">Titulo</label>
        <input type="text" class="form-control" [(ngModel)]="form.title" />
    </div>

    
    <div class="form-group">
        <label for="" class="form-label">autor</label>
        <input type="text" class="form-control" [(ngModel)]="form.autor" />
    </div>

    <div class="form-group">
        <label for="" class="form-label">Url imagem</label>
        <input type="url" class="form-control" [(ngModel)]="form.image_url" />
    </div>

    <div class="form-group">
        <label for="" class="form-label">Texto</label>
        <textarea class="form-control" [(ngModel)]="form.resume" style="height: 150px;"></textarea>
    </div>

    <div class="form-group">
        <button class="form-control btn btn-success" (click)="id === null ? salvar() : editar(id!)">Salvar </button>
    </div>

</div>
