.form{
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.form-label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form-control {
    height: 30px;
    padding: 0px 10px;
    border-radius: 15px;
    border: .1em solid gray
}
