.card-body{
    padding: 15 0px;
    display: grid;
    grid-template-columns: 1fr;

}


@media screen and (min-width: 576px) {
    .card-body {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .card-body {
        grid-template-columns: 1fr 1fr 1fr;
    }
}