<nav>
    <div>
        <button class="btn"><i class="fa-solid fa-bars"></i></button>
    </div>

    <div>
        <h1>
            Isso aqui somos nós contando historias
        </h1>
    </div>

    <div class="soccial_media">
        <a href="https://instagram.com/webertonk23/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/webertonk23" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://linkedin.com/in/webertonk23/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</nav>